@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,

.loginBackground{
    background-image: url("https://cdn.the-scientist.com/assets/articleNo/69156/aImg/43446/colorful-coronavirus-mixing-paint-800-l.jpg");
    }
    
.body {
height: 100%;
}

.homepagetitle {
color: white;
opacity: 0.9;
font-family: Montserrat, sans-serif;
}

.body {
display: flex;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #00393B;
margin-left: 300px;
margin-right: 300px;
}

.form-signin {
width:100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-signin .checkbox {
font-weight: 400;
color: white;
}

.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.signin {
color: white;
background-color: #00C2CB;
font-family: Montserrat, sans-serif;
font-weight: bolder;
}

