body {
    font-size: 16pt;
    font-family:  Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  input,
  button {
    font: inherit;
    box-sizing: border-box;
  }
  
  input[type='submit'],
  button {
    cursor: pointer;
    color: white;
  }
  
  .AddThoughtForm {
    display: flex;
    flex-wrap: wrap;
    background-color: #00C2CB;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
  }
  
  .AddThoughtForm input {
    padding: 1.5rem;
    border: 1px solid #666;
    border-radius: 3px;
  }
  
  .AddThoughtForm input[type='text'] {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
  
  .thoughts {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
    width: 50%;
  }
  
  .Thought {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #eee;
  }
  
  .Thought .remove-button {
    font-size: 80%;
    float: right;
    border: 0;
    border-radius: 3px;
    background: transparent;
  }
  
  .Thought .remove-button:hover {
    color: #fff;
    background-color: #000;
  }

  .PinBoard {
    background-image: url("https://cdn.the-scientist.com/assets/articleNo/69156/aImg/43446/colorful-coronavirus-mixing-paint-800-l.jpg");
  }